.byebug_history
.env
.powenv
.rspec
*.orig
*.rbc
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/public/system
/spec/tmp
/tmp
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
